:root {
  --text-color: #000000;
  --title-color: #000000;
  --accent-color: #f7941e;
  --button-color: #f7941e;
  --base-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--text-color);
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
button {
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

._container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.button {
  padding: 14px 11px;

  color: var(--button-color);
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid var(--button-color);
  border-radius: 5px;
}

.title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.4;
  color: var(--title-color);
}

/* --------- HEADER ------------ */

.header__wrap {
  max-width: 1356px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link {
  font-family: "Homemade Apple", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(39 / 18);
  color: #231f20;

  transition: color var(--base-transition);
}

.header__logo-link:hover,
.header__logo-link:focus {
  color: var(--accent-color);
}

.menu__list {
  display: flex;
  gap: 30px;
}

.menu__menu-link {
  padding-top: 40px;
  padding-bottom: 40px;

  font-size: 18px;
  line-height: calc(21 / 18);
  color: var(--text-color);
  text-transform: capitalize;

  transition: color var(--base-transition);
}

.menu__menu-link:hover,
.menu__menu-link:focus {
  color: var(--accent-color);
}

.header__button {
  font-size: 18px;
  line-height: calc(21 / 18);

  transition: color var(--base-transition),
    background-color var(--base-transition);
}

.header__button:hover,
.header__button:focus {
  color: #ffffff;
  background-color: var(--button-color);
}

/* ----------- MAIN ----------- */

/* .page {
} */

/* ----------- section GIFT ----------- */

.gift__wrap,
.about__wrap {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
}

.gift__description,
.about__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1 1 50%;
  padding-left: 162px;

  background-color: #f1f1f2;
}

.gift__title {
  max-width: 433px;
  margin-bottom: 36px;

  font-weight: 700;
  font-size: 56px;
  line-height: calc(69 / 56);
}

.gift__text,
.about__text {
  max-width: 422px;
  margin-bottom: 52px;
}

.gift__button {
  padding: 23px 25px;

  color: #ffffff;
  background-color: var(--button-color);

  transition: color var(--base-transition),
    background-color var(--base-transition);
}

.gift__button:hover,
.gift__button:focus {
  color: var(--button-color);
  background-color: transparent;
}

.gift__thumb,
.about__thumb {
  flex: 1 1 50%;
}

.gift__img,
.about__img {
  object-position: center;
  object-fit: cover;
}

/* ----------- section ABOUT ----------- */

.about__description {
  padding-left: 112px;
}

.about__title {
  margin-bottom: 23px;
}

.about__text {
  max-width: 441px;
  margin-bottom: 32px;
}

.about__button {
  padding: 23px 25px;

  color: var(--button-color);
  background-color: transparent;

  transition: color var(--base-transition),
    background-color var(--base-transition);
}

.about__button:hover,
.about__button:focus {
  color: #ffffff;
  background-color: var(--button-color);
}

/* ----------- section PRODUCTS ----------- */

.products__wrap {
  max-width: 1170px;
  padding-top: 96px;
  padding-bottom: 67px;
}

.products__title {
  margin-bottom: 23px;

  text-align: center;
}

.products__text {
  margin-bottom: 60px;

  font-size: 18px;
  line-height: 1.36;
  text-align: center;
}

.products__list {
  display: flex;
  gap: 30px;
}

.products__item {
  width: calc((100% - 90px) / 4);
}

.products__link {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(19 / 14);
  color: var(--text-color);

  transition: color var(--base-transition);
}

.products__link::after {
  content: "\276F";
  margin-left: 7px;
}

.products__link:hover,
.products__link:focus {
  color: var(--accent-color);
}

.products__description {
  padding: 24px;
  min-height: 166px;

  background-color: #fafafa;

  transition: box-shadow var(--base-transition),
    background-color var(--base-transition);
}

.products__description:hover {
  background-color: #ffffff;
  box-shadow: 3px 3px 3px #f1f1f2;
}

.products__title-min {
  margin-bottom: 74px;

  font-size: inherit;
  font-weight: 400;
  line-height: calc(24 / 20);
}

/* ----------- section READY ----------- */

.ready {
  /* max-width: 1140px; */
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 80px;

  background-color: #f7941e;
}

.ready__wrap {
  max-width: 970px;
  display: flex;
  justify-content: space-between;
}

.ready__title {
  font-weight: 600;
}

.ready__text {
  font-weight: 400;
}

.ready__list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.ready__button {
  color: #000000;
  border-color: #000000;
  padding: 18px 25px;

  transition: color var(--base-transition),
    background-color var(--base-transition);
}

.ready__button:hover,
.ready__button:focus {
  color: #ffffff;
  background-color: #000000;
}

.ready__button--find {
  color: #ffffff;
  background-color: #000000;
}

.ready__button--find:hover,
.ready__button--find:focus {
  color: #000000;
  background-color: transparent;
}

/* ----------- section BLOGS ----------- */

.blogs__wrap {
  max-width: 1170px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.blogs__title {
  margin-bottom: 23px;

  text-align: center;
}

.blogs__text {
  margin-bottom: 60px;

  font-size: 18px;
  line-height: 1.36;
  text-align: center;
}

.blogs__articles {
  display: flex;
  margin-bottom: 40px;
}

.blogs__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 78px;
  flex-grow: 1;
  background-color: #231f20;
}

.blogs__title-white {
  max-width: 492px;
  margin-bottom: 60px;

  font-size: 48px;
  line-height: calc(58 / 48);
  color: #ffffff;
}

.blogs__author {
  margin-bottom: 27px;

  font-size: 14px;
  line-height: 1.4;
  color: #ffffff;
}

.blogs__link {
  font-size: 18px;
  color: #ffffff;

  transition: color var(--base-transition);
}

.blogs__link:hover,
.blogs__link:focus {
  color: var(--accent-color);
}

.blogs__list {
  display: flex;
  gap: 30px;
}

.blogs__card {
  padding: 50px;
  color: var(--text-color);
}

.blogs__card > *:not(:last-child) {
  margin-bottom: 16px;
}

.blogs__card:hover {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.blogs__title-min {
  font-size: 24px;
  font-weight: 600;
}

.blogs__link-small {
  font-size: 14px;
  color: var(--text-color);

  cursor: pointer;

  transition: color var(--base-transition);
}

.blogs__link-small:hover,
.blogs__link-small:focus {
  color: var(--accent-color);
}

/* ----------- FOOTER ----------- */

.footer {
  /* max-width: 1140px; */
  margin-left: auto;
  margin-right: auto;
  padding-top: 75px;
  padding-bottom: 35px;

  background-color: #fafafa;
}

.footer__wrap {
  max-width: 1002px;
}

.footer__list {
  display: flex;
  justify-content: center;
  gap: 80px;

  border-bottom: 1px solid #000000;
}

.menu__item:nth-of-type(3) {
  order: 4;
}
.menu__item:nth-of-type(4) {
  order: 5;
}
.menu__item:nth-of-type(5) {
  order: 3;
  margin-left: 60px;
  margin-right: 60px;
}

.footer__social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 50px;
  padding-bottom: 72px;
}

.footer__social-link {
  color: #000000;

  transition: color var(--base-transition);
}

.footer__social-link:hover,
.footer__social-link:focus {
  color: var(--accent-color);
}

.footer__social-icon {
  fill: currentColor;
}

.footer__copyright {
  font-size: 14px;
  text-align: center;
}
